#!/bin/bash

## BASIC CONFIGURATION -- CHANGE THESE

export IRC_SERV="ip or hostname to connect to"
export IRC_USER="the irc nick of the bot"
export IRC_CHAN="#achannel,#anotherchannel"
export IRC_ADMIN="insofaras" # the owner of the bot / probably your nick

# you might need this if the server doesn't run on 6667
# export IRC_PORT="1234"

# or this, for a server password
# export IRC_PASS="super secret"

# if you need to auth with nickserv, use this
# export IRC_NICKSERV_PASS="super secret"

# if your connection is over SSL / TLS, export this (don't use a # in the hostname)
# export IRC_ENABLE_SSL=1


## ADVANCED / MODULE-SPECIFIC CONFIGURATION

# mod_twitch needs this from 8th aug 2016 in order to use the twitch HTTP API.
# this is used to get uptime info etc..
# https://www.twitch.tv/settings/connections
# export INSOBOT_TWITCH_CLIENT_ID="something"
# if you want !title to work, it'll also need a twitch OAuth token set in this:
# export INSOBOT_TWITCH_TOKEN="something"

# mod_quotes needs these 3 vars
# export INSOBOT_GIST_USER="github username to store the quote list gist as"
# export INSOBOT_GIST_TOKEN="access token from https://github.com/settings/tokens with gist scope"
# export INSOBOT_GIST_ID="gist id (make a blank one manually and copy from the url)"

# mod_linkinfo needs this oauth bearer token to expand twitter links.
# it's a PITA to set up, see https://dev.twitter.com/oauth/application-only
# export INSOBOT_TWITTER_TOKEN="twitter bearer token"

# it also needs this to expand youtube playlists, or normal youtube links if you
# enable the "legit api" option in mod_linkinfo.c.
# get one from  https://developers.google.com/youtube/registering_an_application
# export INSOBOT_YT_API_KEY="youtube api key"

# mod_schedule uses the same gist user/token as above, as well as this:
# export INSOBOT_SCHED_GIST_ID="gist id for schedule data"

# you can make mod_haiku look fancier with this
# export INSOBOT_MULTILINE_HAIKU=1

# uncomment to disable the auto-restarting + timestamp prepending via parent process
# export INSOBOT_NO_AUTO_RESTART=1
# export INSOBOT_NO_FORK=1

# uncomment this to set a 'debug channel', currently only used for crash reports
# export INSOBOT_DEBUG_CHAN="#somewhere"

# see the github wiki for a full list of insobot environment variables.

# also see src/config.h to change the bot owner, default name + default pass

exec ./insobot
